.padding-block {
    padding-top: 16px;
    padding-bottom: 16px;
}

// container
.container {
    max-width: 1140px;
}

// width
.w-76px {
    width: 76px !important;
}

.w-80px {
    width: 80px !important;
}

.w-100px {
    width: 100px !important;
}

.w-120px {
    width: 120px !important;
}

.w-165px {
    width: 165px !important;
}

.w-180px {
    width: 180px !important;
}

.w-220px {
    width: 220px !important;
}

.w-256px {
    width: 256px !important;
}

.w-270px {
    width: 270px !important;
}

// height
.h-40px {
    height: 40px !important;
}

.h-44px {
    height: 44px !important;
}

.h-48px {
    height: 48px !important;
}

.h-56px {
    height: 56px !important;
}

// Margin
.mb-10p {
    margin-bottom: 10px;
}

.mb-20p {
    margin-bottom: 20px;
}

.color-dark {
    color: $color-dark
}